$font : 'Open sans' , sans-serif;

*{
    font-family: $font;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.btn{
    background-color: #ffffff !important;
    border: 0 !important;
    box-shadow: none;
}  
.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #1c63c7 !important;
  border: 0 !important;
  box-shadow: none;
  border-radius: 8px;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.navbar{
    
    .container-fluid{
        padding: 2vh 20vh;
        .navbar-collapse{
            margin-top: 10px;
            
            .menu-nav{
                height: 10vh;
            }
            ul{
                li{
                    #dropdownMenuLink{
                        color: #6e736f;
                        background-color: #ffffff;
                        border: 0 !important;
                        box-shadow: none;
                        margin-top: 2px;
                    }

                    .dropdown-item{
                        
                     }
                }
                .nav-item{
                    margin: 10px;
                    text-align: center;
                }
                .nav-item{
                    a:hover{
                        border-bottom: 3px solid #213061;
                    }
                }
                .action-nav:hover{
                    border-bottom: none;
                }
            }
            
        }
        .logo-nav{
            width: 16vh;
        }
        
        .btn:focus {
            outline: none !important;
          }

    }
}

.container{
    .col-sm{
        .right-hero{
            padding: 8vh 0vh;

            .carousel{
                width: 450px;
                
                img{
                    border-radius: 20px;
                }

                .carousel-caption {
                    line-height: 5px;

                    p{
                        font-size: 10px;
                    }
                }

            }
        }
        .text-hero{
            padding: 8vh 10vh;
            
            .input-group{
                border-radius: 20px;
            }
        }
    }
}

.popup-top{
    display: none;
}


.content2{
    display: flex;
    justify-content: center;
    align-items: center;

    .card{
        padding: 0 20px;
        width: 600px;
    }

}

.tes{
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        margin-left: 10px;
        font-size: 10px;

        span{
            b{
                font-size: 30px;
            }
        }
    }
}

.banner-center{
    margin-top: 30px;
    display: flex;
    
    background-color: #363636;

    .text-banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        color: #ffffff;
        h1{
            font-size: 20px;
        }
        p{
            font-size: 10px;
        }
    }
    .carousel-banner{
        background-color: #f7f7f7;
        width: 100%;
        padding: 20px;
        .content-banner{
                display: flex;
                justify-content: center;
                align-items: center;
    
                .card{
                    margin: 10px;
                }
        }
    }

    .card-body{
        h5{
            font-size: 10px;
            font-weight: 800;

            span{
                font-weight: 100;
            }
        }
        p{
            font-size: 10px;
            overflow-y: auto;
            height: 70px;
        }
    }
}



footer{
    width: 100%;
    background-color: #213061;
    color: #ffffff;
    
    .container-footer{
        display: flex;
        padding: 30px 100px;
        h1{
            line-height: 35px;
        }
        p{
            font-size: 10px;
        }

        .right-footer{
            display: flex;
            padding-left: 50px;
            div{
                padding: 30px;
            }
            ul{
                li{
                    line-height: 15px;
                    a{
                        font-size: 10px;
                        color: #ffffff;
                    }
                }
            }
        }

    }
    .center-footer{
        padding: 10px;
        font-size: 15px;
        text-align: center;
    }
}

.banner-bottom{
    margin-top: 50px;
    margin-bottom: 50px;
    p{
        font-size: 20px;
        text-align: center;
    }

    .container-bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            margin: 20px;
        }
    }
}













@media screen and (max-width: 990px){
    .navbar{
    
        .container-fluid{
            padding: 2vh 20vh;
            .navbar-collapse{
                margin-top: 10px;
                
                .menu-nav{
                    height: 45vh;
                }
                ul{
                    li{
                        #dropdownMenuLink{
                            color: #6e736f;
                            background-color: #ffffff;
                            border: 0 !important;
                            box-shadow: none;
                            margin-top: 2px;
                        }
    
                        .dropdown-item{
                            
                         }
                    }
                    .nav-item{
                        margin: 10px;
                        text-align: center;
                    }
                    .nav-item{
                        a:hover{
                            border-bottom: 3px solid #213061;
                        }
                    }
                    .action-nav:hover{
                        border-bottom: none;
                    }
                }
                
            }
            .logo-nav{
                width: 16vh;
            }
            
            .btn:focus {
                outline: none !important;
              }
            .btn{
                background-color: #ffffff !important;
                border: 0 !important;
                box-shadow: none;
            }  
            .btn-primary,
            .btn-primary:active,
            .btn-primary:visited {
              background-color: #1c63c7 !important;
              border: 0 !important;
              box-shadow: none;
              border-radius: 8px;
            }
        }
    }
    
    .container{
        .col-sm{
            .right-hero{
                padding: 8vh 0vh;
                display: flex;
                justify-content: center;
                align-items: center;
                .carousel{
                    width: 350px;
                    
                    img{
                        border-radius: 20px;
                    }
    
                    .carousel-caption {
                        line-height: 5px;
    
                        p{
                            font-size: 10px;
                        }
                    }
    
                }
            }
            .text-hero{
                padding: 8vh 5vh;
                
                .input-group{
                    border-radius: 20px;
                }
            }
        }
    }
    
    .popup-top{
        display: block;

    }

  
    
.content2{
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
        padding: 0 20px;
        width: 300px;
    }

}

.tes{
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        margin-left: 10px;
        font-size: 10px;

        span{
            b{
                font-size: 30px;
            }
        }
    }
}



footer{
    width: 100%;
    background-color: #213061;
    color: #ffffff;
    
    .container-footer{
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
        h1{
            line-height: 35px;
        }
        p{
            font-size: 10px;
        }
        
        .right-footer{
            display: flex;
            flex-direction: column;
            div{
                padding: 10px;
                margin-left: -60px;
            }
            ul{
                li{
                    line-height: 15px;
                    a{
                        font-size: 10px;
                        color: #ffffff;
                    }
                }
            }
        }

    }
    .center-footer{
        padding: 10px;
        font-size: 15px;
        text-align: center;
    }
}


.banner-center{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: #363636;

    .text-banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        color: #ffffff;
        h1{
            font-size: 20px;
        }
        p{
            font-size: 10px;
        }
    }
    .carousel-banner{
        background-color: #f7f7f7;
        width: 100%;
        padding: 20px;
        .content-banner{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .card{
                    margin: 10px;
                }
        }
    }

    .card-body{
        h5{
            font-size: 10px;
            font-weight: 800;

            span{
                font-weight: 100;
            }
        }
        p{
            font-size: 10px;
            overflow-y: auto;
            height: 70px;
        }
    }
}

.banner-bottom{
    margin-top: 50px;
    margin-bottom: 50px;
    p{
        font-size: 20px;
        text-align: center;
    }

    .container-bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img{
            margin: 20px;
        }
    }
}

}